:root {
    /* Colors */
    --color-bg-main: #FFFFFF;
    --color-bg-secondary: #F7F7F7;
    --color-text-primary: #1A1A1A;
    --color-text-secondary: #555555;
    --color-accent: #FF3B30;
    --color-accent-hover: #ff7b72;
    --color-accent-focus: #000000;
    --color-border-divider: #DADADA;
    --color-secondary-button-hover: #ffbbbb;

}

.quick-search__input::-webkit-search-cancel-button {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.3 5.71a1 1 0 00-1.41 0L12 10.59 7.11 5.7a1 1 0 10-1.41 1.41L10.59 12l-4.89 4.89a1 1 0 101.41 1.41L12 13.41l4.89 4.89a1 1 0 001.41-1.41L13.41 12l4.89-4.89a1 1 0 000-1.4z'/%3E%3C/svg%3E");
}


.quick-search__input::-ms-clear {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.3 5.71a1 1 0 00-1.41 0L12 10.59 7.11 5.7a1 1 0 10-1.41 1.41L10.59 12l-4.89 4.89a1 1 0 101.41 1.41L12 13.41l4.89 4.89a1 1 0 001.41-1.41L13.41 12l4.89-4.89a1 1 0 000-1.4z'/%3E%3C/svg%3E");
}

.header__login-btn, .slider__slide-link, .quick-search__button {
    color: white;
}